/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

.klavesy__container {
  font-size: 0.8rem;
  display: flex;
  margin-left: 5rem;
}

.klavesy {
  /* width: 22em; */
  /* margin-left: 14rem; */
  margin-top: 5rem;
  display: flex;
  position: relative;
  box-shadow: 0.1px 0.8px 1px 1px rgba(0, 0, 0, 0.897);
  font-size: inherit;
}

.bila {
  width: 4.3em;
  height: 16em;
  border: 1px solid #0f1111;
  background-color: ivory;
  position: relative;
  font-size: inherit;
}

.bila__letter,
.cerna__letter {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  left: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.bila__letter {
  top: 8.5rem;
  color: #082b42;
  opacity: 0.3;
}

.cerna__letter {
  top: 3.5rem;
  color: white;
  opacity: 0.2;
}

.cerna {
  width: 2.5em;
  height: 9.2em;
  border: 1.5px solid #0f1111;
  background-color: #0f1111;
  z-index: 1;
  position: absolute;
  font-size: inherit;
}

.cerna--cis {
  left: 3.1em;
}

.cerna--dis {
  left: 7.5em;
}

.cerna--fis {
  left: 16.1em;
}

.cerna--gis {
  left: 20.4em;
}

.cerna--ais {
  left: 24.7em;
}

.bila:hover,
.bila.is-active {
  background-color: #ffbb00;
}

.cerna:hover,
.cerna.is-active {
  background-color: #f55d50;
}

.ton__letter {
  font-family: 'Open Sans Condensed';
  color: #f55d50;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 9rem;
  display: flex;
  justify-content: center;
}

.toncerna__letter {
  font-family: 'Open Sans Condensed';
  color: #ffbb00;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
}
