/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

.main-page__composers {
  display: flex;
  flex-wrap: wrap;
}

.kviz--composers {
  margin: 5rem auto;
}

/* stylování komponenty Umelci */

.umelci {
  max-width: 56rem;
  height: auto;
  margin: auto;
  margin-top: 2rem;
}

.umelci__classic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.umelci__modern {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.umelci__item {
  width: 12rem;
  flex: 0 0 2rem;
  border-radius: 8%;
  margin: 1.5rem 0.7rem;
}

.umelci__nadpis {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  display: block;
  text-align: center;
  margin: 2rem auto 0.5rem auto;
  color: #f55d50;
}

.umelci__label {
  text-align: center;
  font-size: 1.16rem;
  font-weight: bold;
  margin: 0.4rem;
  color: #082b42;
}
.umelci__text {
  margin: 0.2rem;
  padding-left: 0.5rem;
  text-align: justify;
  font-size: 1rem;
}

.image {
  position: relative;
}
.umelci__picture {
  width: 12.5rem;
  height: auto;
  object-fit: cover;
  padding: 0;
  padding-right: 0.41rem;
}

.umelci__picture {
  display: block;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: red;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay > * {
  transform: translateY(10px);
  transition: transform 0.5s;
}

.image__overlay:hover {
  opacity: 1;
}
y .image__overlay:hover > * {
  transform: translateY(0);
}

.image__icon {
  width: 4rem;
  height: 4rem;
}

/* stylování pro mobil */

@media only screen and (max-width: 520px) {
  .main-page__nadpis {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }

  .navigace {
    margin: 1rem 2rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .navigace__item {
    width: 8rem;
    height: 8rem;
    font-size: 1.6rem;
    margin: 0.6rem 0.2rem;
  }

  .umelci {
    margin: 0;
  }

  .umelci__classic {
    flex-wrap: wrap;
    justify-content: center;
  }

  .umelci__modern {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigace__item.is-active {
    display: none;
  }

  .umelci__item {
    width: 20rem;
    height: auto;
    /* border: 1px solid black; */
    margin-bottom: 0.5rem;
  }

  .umelci__picture {
    width: 20.3rem;
    height: auto;
    object-fit: cover;
    padding: 0;
    padding-right: 0.41rem;
  }

  .umelci__nadpis {
    font-size: 3rem;
    font-weight: 900;
  }

  .umelci__label {
    font-size: 2rem;
  }
  .umelci__text {
    margin: 0.2rem;
    font-size: 1.6rem;
  }

  .image {
    position: relative;
  }

  .umelci__picture {
    display: block;
  }

  .kviz--composers {
    margin: 2rem auto;
  }

  .klavesy {
    font-size: 0.65rem;
    margin-left: -4.5rem;
    margin-top: 0.5rem;
  }
  .bila__letter {
    display: none;
  }
  .cerna__letter {
    display: none;
  }

  .ton__letter {
    font-size: 1.8rem;
    margin-top: 7.6rem;
  }

  .toncerna__letter {
    font-size: 1.5rem;
    margin-top: 3.2rem;
  }
}

/* stylování  pro tablet */
@media (min-width: 521px) and (max-width: 1120px) {
  .main-page__nadpis {
    font-size: 4rem;
    margin-left: 3rem;
  }

  .navigace__item {
    width: 7.5rem;
    height: 7.5rem;
    font-size: 1.2rem;
  }

  .navigace {
    margin-left: 2.5rem;
  }

  .klavesy {
    font-size: 1rem;
    margin-left: -2rem;
  }
}
