/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

body {
  background-image: url(../../assets/img/pozadi.png);
  background-size: cover;
}

.main-page__instruments {
  display: flex;
  flex-wrap: wrap;
}

.kviz--instruments {
  margin: 6rem auto;
}

.main-page__navigace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 2rem auto; */
}

/* stylování Nástroje */
.nastroje {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 5rem;
  max-width: 50rem;
}

.nastroje__item {
  width: 13rem;
  height: 13rem;
  background-color: white;
  margin: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.nastroje img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* stylování pro mobil */

@media only screen and (max-width: 520px) {
  .nastroje {
    margin: 0 1.5rem 0 4rem;
  }

  .nastroje__item {
    width: 12rem;
    height: 12rem;
    background-color: white;
    margin: 0.5rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
  }

  .nastroje img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .kviz--instruments {
    margin: 2rem auto;
  }
}
