h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: auto;
}

/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

.nastroje {
  display: flex;
  flex-wrap: wrap;
}

.nastroje__item {
  width: 14rem;
  height: 14rem;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}
.nastroje img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
