body {
  background-image: url(../../assets/img/pozadi.png);
  background-size: cover;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: auto;
}

/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */
