html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* barva žlutá = #ffcc40
barva červená = #f55d50
barva modrá = #56cad0 */

body {
  background-image: url(pozadi.png);
}

main {
  max-width: 60rem;
  margin: 0 auto;
}

.main-page {
  margin: 0 auto;
}

h1 {
  font-family: 'League Spartan Bold', arial;
  font-size: 5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffcc40;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 1.2rem;
  color: white;
}

h3 {
  font-family: 'Open Sans Condensed';
  font-size: 1rem;
  color: white;
  text-align: center;
  width: 35rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

a {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed';
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffcc40;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.548); */
  padding: 1.2rem;
  margin: 4rem;
  margin-top: 7rem;
}

a:hover,
a:focus {
  color: #f55d50;
}

.note {
  background-image: url(img/poznej_noty.jpg);
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 50%;
}

.instruments {
  background-image: url(img/poznej_nastroje.jpg);
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 50%;
}

.composer {
  background-image: url(img/poznej_skladatele.jpg);
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 50%;
}

.livemusic {
  background-image: url(img/poznej_hudbunazivo.jpg);
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  border-radius: 50%;
}
