html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* barva žlutá = #fce73e
barva červená = #e73d4a
barva zelená = #067d85
barva fialová = #81399f */

body {
  background-color: #ffffff;
}

main {
  max-width: 60rem;
  margin: 0 auto;
}

h1 {
  font-family: 'Anton';
  font-size: 5rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  color: #e73d4a;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 1.2rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

a {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed';
  font-size: 1.3rem;
  font-weight: 500;
  color: #fce73e;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.548);
  padding: 1.2rem;
  margin: 1.2rem;
  margin-top: 7rem;
}

a:hover,
a:focus {
  color: #e73d4a;
}

.note {
  background-image: url(img/poznej_noty.jpg);
  width: 25rem;
  height: 18.75rem;
  margin: 1rem;
}

.instruments {
  background-image: url(img/poznej_nastroje.jpg);
  width: 25rem;
  height: 18.75rem;
  margin: 1rem;
}

.composer {
  background-image: url(img/poznej_skladatele.jpg);
  width: 25rem;
  height: 18.75rem;
  margin: 1rem;
}

.livemusic {
  background-image: url(img/poznej_hudbunazivo.jpg);
  width: 25rem;
  height: 18.75rem;
  margin: 1rem;
}
