.main-page__notes {
  display: flex;
  flex-wrap: wrap;
}

.kviz--notes {
  margin: 6rem auto;
}

.klavesy__notes {
  margin-left: 15rem;
}

.notes__text {
  max-width: 45rem;
  margin: 5rem 7rem 0 5rem;
  text-align: justify;
  font-weight: bold;
  font-size: 1.2rem;
  row-gap: 1.2rem;
}

.prehled-not img {
  display: flex;
  justify-self: center;
  margin-top: 4rem;
  margin-left: 4rem;
}

/* stylování pro mobil */

@media only screen and (max-width: 520px) {
  .notes__text {
    font-size: 1.6rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    max-width: 20rem;
    height: auto;
    /* border: 1px solid black; */
  }

  .prehled-not img {
    margin-left: -1rem;
    margin-top: 1rem;
    size: 70%;
  }
}
