.nastroje {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-right: 0;
  margin-left: 0;
}

h4 {
  display: flex;
  justify-content: center;
  max-width: 50rem;
}

.nastroje__item {
  width: 13rem;
  height: 13rem;
  background-color: white;
  margin-top: 3rem;
  margin-left: 2rem;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.nastroje img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
