/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

body {
  margin: 0;
  padding: 0;
  background-image: url(../../assets/img/pozadi.png);
  background-size: cover;
  background-attachment: fixed;
}

main {
  max-width: 100rem;
}

.home-page {
  margin-left: 3rem;
}

.home-page__h1 {
  font-family: 'League Spartan Bold', arial;
  font-size: 4.3rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffbb00;
  margin: 0;
}

.home-page__h2 {
  font-family: 'Open Sans Condensed';
  font-size: 1.3rem;
  color: #082b42;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.home-page__text {
  font-family: 'Open Sans Condensed';
  font-size: 1.2rem;
  font-weight: bold;
  row-gap: 1.2rem;
  color: #082b42;
  text-align: justify;
  width: 45rem;
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans Condensed';
  font-size: 1.2rem;
  font-weight: 700;
  color: #082b42;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 1.1rem;
  margin: 4rem;
  margin-top: 1.7rem;
}

a:hover,
a:focus {
  color: #ffbb00;
}

.notes {
  background-image: url(../../assets/img/poznej_noty.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}

.songs {
  background-image: url(../../assets/img/poznej_pisnicku.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}

.instruments {
  background-image: url(../../assets/img/poznej_nastroje.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}

.composers {
  background-image: url(../../assets/img/poznej_skladatele.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}

.main-page__nadpis {
  font-family: 'League Spartan Bold', arial;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffbb00;
  margin: 2rem 0 1rem 4.5rem;
}

@media only screen and (max-width: 520px) {
  section {
    font-size: 2rem;
    margin-left: -2.8rem;

    display: flex;
    justify-content: space-around;
  }
  .home-page__h2 {
    font-size: 2rem;
    margin: 0;
    margin-right: 2rem;
  }
  .home-page__h1 {
    font-size: 3rem;
  }
  .home-page__text {
    width: 18rem;
    margin: 1rem 0 auto;
    font-size: 1.6;
  }
  .home-page {
    margin-left: 2rem;
  }
  .notes,
  .instruments,
  .composers,
  .songs {
    width: 9rem;
    height: 9rem;
    margin: 0 1rem 2rem 1.5rem;
  }

  a {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
  }
}
