/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

body {
  background-image: url(../../assets/img/pozadi.png);
  background-size: cover;
}

main {
  max-width: 40rem;
}

.main-page {
  margin-left: 3rem;
}

h1 {
  font-family: 'League Spartan Bold', arial;
  font-size: 4.3rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffbb00;
  margin: 0;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 1.2rem;
  color: #082b42;
}

h3 {
  font-family: 'Open Sans Condensed';
  font-size: 1rem;
  color: #082b42;
  text-align: justify;
  width: 35rem;
}

section {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 2rem;
}

a {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed';
  font-size: 1.1rem;
  font-weight: 700;
  color: #082b42;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  padding: 1.2rem;
  margin: 4rem;
  margin-top: 1.7rem;
}

a:hover,
a:focus {
  color: #ffbb00;
}

.notes {
  background-image: url(../../assets/img/poznej_noty.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}

.instruments {
  background-image: url(../../assets/img/poznej_nastroje.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}
.parents {
  background-image: url(../../assets/img/poznej_hudbunazivo.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}

.composers {
  background-image: url(../../assets/img/poznej_skladatele.png);
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 50%;
  border: solid;
  border-color: #082b42;
}
