/* barva žlutá = #ffbb00
barva červená = #f55d50
barva modrá = #082b42
barva zelená #0f7260 */

.kviz {
  background-color: white;
  width: 20rem;
  min-height: 12.5rem;
  height: min-content;
  border-radius: 0.9rem;
  padding: 1.25rem;
  box-shadow: 10px 10px 42px 0px #082b42b2;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed';
  border-radius: 10%;
  display: flex;
  position: absolute;
  right: 5rem;
  top: 12rem;
}

.score-section {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  color: #082b42;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  font-family: 'Open Sans Condensed';
  text-align: center;
  color: #082b42;
}

.question-count {
  margin-bottom: 0.62;
  font-weight: bold;
}

.question-count span {
  font-size: 1.9rem;
}

.otazka {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.62rem;
}

.question-text {
  margin-bottom: 0;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 0.94rem;
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 0.94rem;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tlacitko-kviz {
  width: 100%;
  font-size: 1.25rem;
  font-family: 'Open Sans Condensed';
  color: #ffffff;
  background-color: #082b42;
  border-radius: 0.94rem;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffbb00;
  cursor: pointer;
  margin: 2px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.obrazek {
  max-height: 10rem;
  border: 1px solid #ffbb00;
}
