@import url('https://allfont.net/allfont.css?fonts=league-spartan');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}



.wrap {
  min-height: 100vh;
  padding-bottom: 4rem;
}

.footer {
  height: 2rem;
  margin-top: -2rem;
  color: #080b0e;
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
